@use 'styles/variables' as *;

.footer {
  text-align: center;
  padding: 50px 100px;
  border-top: 1px solid $grey4;
  // padding-bottom: 110px;
  position: relative;
  & p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
  }
}